<h1 class="art">¡Te damos la bienvenida!</h1>
<div class="box-clear">
        <p>
            Enviamos este correo para informarte que hemos creado tu usuario para acceder a
            Artemisa y ya puedes comenzar a trabajar sin ningún problema.
        </p>
        <p>
            Tus credenciales de acceso son las siguientes:
        </p>
        <p>
            Nombre de usuario: <strong>{username}</strong><br />
            Contraseña: <strong>{password}</strong>
        </p>
        <p>
            Puedes acceder a Artemisa desde la siguiente dirección:<br />
            <a href="https://www.artemisa.site:3000/">https://www.artemisa.site:3000/</a>
        </p>
        <p>
            Esperamos que tu estancia con nosotros sea la mejor experiencia laboral que
            hayas tenido nunca, y recuerda que en el departamento de sistemas estamos
            listos para ayudarte en cualquier momento.
        </p>
        <p>
            ¡Saludos!<br />
            Atentamente, Diana Nuño.
        </p>
        <p class="formal">
            <i>Departamento de sistemas, soporte y desarrollo de Artemisa.</i>
        </p>
</div>