<h1 class="art">¡Nuevo prospecto!</h1>
<div class="box-clear">
        <p>
            Un nuevo cliente potencial se ha puesto en contacto con nosotros...
        </p>
        <p>
            <table>
                <tr>
                    <td>Nombre:</td>
                    <td><strong>{nombre}</strong></td>
                </tr>
                <tr>
                    <td>Correo electrónico:</td>
                    <td><strong>{email}</strong></td>
                </tr>
                <tr>
                    <td>Teléfono:</td>
                    <td><strong>{telefono}</strong></td>
                </tr>
            </table>
        </p>
        <p>
            <table>
                <tr>
                    <td>Producto que requiere:</td>
                    <td><strong>{producto}</strong></td>
                </tr>
                <tr>
                    <td>Comentarios adicionales:</td>
                    <td><pre>{comentarios}</pre></td>
                </tr>
            </table>
        </p>
        <p>
            <table>
                <tr>
                    <td>Origen del contacto:</td>
                    <td><strong>{origin}</strong></td>
                </tr>
                <tr>
                    <td>Información de LADA:</td>
                    <td><strong>{edoGin}</strong></td>
                </tr>
            </table>
        </p>
        <p>
            <table>
                <tr>
                    <td>Asignado al ejecutivo:</td>
                    <td><strong>{exe}</strong></td>
                </tr>
            </table>
        </p>
        <p>
            <table>
                <tr>
                    <td>Razón / debug:</td>
                    <td>{reason}</td>
                </tr>
            </table>
        </p>
        <p>
            Recuerda que debemos comunicarnos con él a la brevedad posible.
        </p>
        <p>
            Mucho éxito en tus ventas.<br />
            ¡Saludos!<br />
            Atentamente, Artemisa. =(nwn=)/
        </p>
        <p class="formal">
            <i>Departamento de sistemas, soporte y desarrollo de Artemisa.</i>
        </p>
</div>