<h1 class="art">Han enviado una solicitud de registro</h1>
<div class="box-clear">
        <p>
            Los datos de acceso son los siguientes:
        </p>
        <p>
            Nombre de usuario: <strong>{usrname}</strong><br />
            Contraseña: <strong>{psswd}</strong><br /><br />
            Area: <strong>{area}</strong><br />
            Nombre completo: <strong>{fullname}</strong><br />
            Correo: <strong>{email}</strong><br />
            Contacto: <strong>{tel}</strong><br />
            Empresas: <strong>{ent}</strong><br /><br />
            Notas: <strong>{notes}</strong>
        </p>
        <p>
            ¡Saludos!<br />
            Atentamente, Artemisa. =(nwn=)/
        </p>
        <p class="formal">
            <i>Departamento de sistemas, soporte y desarrollo de Artemisa.</i>
        </p>
</div>